<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <% # If the user is an admin, they can make others admins %>
  <% if Profile.find_by(user: current_user).admin %>
    <div class="field">
      <%= form.label :admin %>
      <%= form.check_box :admin %>
    </div>
  <% end%>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :student %>
    <%= form.check_box :student %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
