<h1 class="title"><%= t(".your_details") %></h1>
<p><%= t(".assurance") %></p>
<% puts @profile %>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @profile.admin ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday || "Unknown" %>
</p>

<p>
  <strong>Student:</strong>
  <%= @profile.student ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @profile.user.created_at %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
