<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @profile.admin ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Student:</strong>
  <%= @profile.student ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
