<% if !signed_in? %>
	<div style="color:red; id="alert"><p><%= t(".signed_out_message") %></p></div>
<% end %>
<div class="row">
  <div class="col-xs-3 col-md-7 post-form">
    <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, :autocomplete => :off  %>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, :autocomplete => :off, rows: "5"  %>
      </div>

      <% if signed_in? %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% else%>
        <%= form.hidden_field :user_id, value: nil %>
      <% end %>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>