<%
	def trimText(text, length)
		if text.length > length
			return text.first(length) + "..."
		else
			return text
		end
	end
%>

<h1 class="title"><%= t(".title") %></h1>

<table class="show-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= trimText(post.title, 25) %></td>
        <td><%= trimText(post.content, 150) %></td>
        <td>
          <% if defined?(post.user.email) %>
            <%= post.user.email %>
          <% else %>
            Anonymous
          <% end %>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
