<div id="navigation">
	<nav class="navbar navbar-default header">
		<ul class="nav">
			<a class="navbar-brand" href="/"><%= t("app_title") %></a>
			<li class="nav-item">
				<a class="nav-link" href="/chatroom"><%= t("chatroom.index.title") %></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/posts"><%= t("posts.index.title") %></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact"><%= t("home.contact.title") %></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profiles"><%= t("profiles.index.title") %></a>
			</li>
		</ul>
		<ul class="nav">
			<span class="navbar-text">
				<% if signed_in? %>
					<%= t("greetings") %>, <a href="/me"><%= current_user.email %></a>
				<% end %>
			</span>
			<li class="nav-item">
				<% if signed_in? %>
					<% # Signs out via DELETE request to '/sign_out' %>
					<%= button_to t("sign_out"), sign_out_path, method: :delete %>
				<% else %>
					<%= button_to t("sign_in"), sign_in_path, method: :get %>
				<% end %>
			</li>
		</ul>
	</nav>
</div>